body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
align-items: center;
height: 100vh;
}

section{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    
}
.result{
    padding: 10px;
}
.oveflow{
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}